<ul class="nav nav-pills nav-fill flex-fill">
    <li class="nav-item flex-fill">
        <a class="nav-link active">Dictée</a>
    </li>
    <li class="nav-item flex-fill">
        <a class="nav-link">Progression</a>
    </li>
    <li class="nav-item flex-fill">
        <a class="nav-link">Grammaire</a>
    </li>
    <li class="nav-item flex-fill">
        <a class="nav-link">Vocabulaire</a>
    </li>
    <li class="nav-item flex-fill">
        <a class="nav-link">Culture générale</a>
    </li>
    <li class="nav-item flex-fill">
        <a class="nav-link">Abonnement</a>
    </li>
    <li class="nav-item flex-fill">
        <a class="nav-link">Connexion</a>
    </li>
</ul>
