<div class="row">
  <div class="col-lg-3">
    <app-dictee-description [dictee]="currentDictee"></app-dictee-description>
  </div>
  <div class="col-lg-9">
    <div class="card" id="copie">
      <div class="card-body">
        <p class="card-text">Voici ta copie :</p>
        <p class="card-text">{{ remplaceEspace(reponse) }}</p>
      </div>
    </div>
    <div class="card" id="console">
      <div class="card-body">
        <form>
          <textarea class="form-control" name="reponse" [(ngModel)]="reponse" rows="5"></textarea>
        </form>
      </div>
      <div class="card-footer text-center">
        Console
      </div>
    </div>
  </div>
</div>
